<div class="kp-margin hidden-print">
    Kustuta: X+click
    <a
        href="#"
        data-bind="click: sheet.side1().action.removeAllPlaced"        
        class="btn btn-default btn-xs">Tühjenda ülemine</a>
    <a
        href="#"
        data-bind="click: sheet.side2().action.removeAllPlaced"
        class="btn btn-default btn-xs">Tühjenda alumine</a>
    <a
        href="#"
        data-bind="click: sheet.action.removeAllPlaced"
        class="btn btn-default btn-xs">Tühjenda mõlemad</a>
    <a
        href="#"
        data-bind="click: sheet.action.switchSides"
        class="btn btn-default btn-xs">Vaheta küljed</a>
</div>
